<% include partials/header %>
<nav class="navbar navbar-default">
  <div class="searchpage text-center">
    <div class="navbar-form navbar-left fullNav">
      <div class="form-group fullNav">
        <label id="urllabel" for="url">URL</label>
        <input class="form-control searchBar" id="url" type="text">
        <button class="btn btn-default" id="simplify">Simplify</button>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <h1 id="title" class="text-center">SimplifyMe</h1>
  <h4 id="subtitle" class="text-center">Clean up your news articles</h1>
</div>
<div id="content" class="container">
  <!--All Content Will Go Here-->
</div>
<br>
<div class="text-center" id="wordcount"></div>
<% include partials/footer%>